//$background-color: #1c1c1c;
$background-color: #1c1c1c;
$background-darker: #060606;
$background-dark: #191919;

//$foreground-color: white;
$foreground-color: white;

//$primary-color: #ff008d;
$primary-color: #ff1a59;

//$secondary-color: #00f1f1;
$secondary-color: #0aeff0;
